

#navbar ul{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    }

#navbar li {
   display: inline-block;
margin-top: 20px;  
         }
header{
    display: flex;
    margin: 100px;
}
#nav-bar a{
    text-decoration: none;
    color: black;}
    Available{
        display: flex;
        margin: 100px;
    }
    content{
        display: flex;
        margin: 100px;
    }
    .icon{
        display: flex;
        
    }
    .coc{
        margin: 100px;
    }
    .girl{
        display: flex;
    }
    .num{
        display: flex;
        gap: 45px;
    }
    .shop{
        display: flex;
    
    }
    .b{
        display: flex;

    }
    
    .aline{
        display: flex;
        
    }
    .aa{
        display: flex;
    }
    .him{
        display: flex;
        border: color(rgb(241, 215, 215)) solid 1px;
    }
    .yego{
        margin-left: 60px;
    }
    footer{
        display: flex;
    }
    .mutesi{
        display: flex;
    }
    
button{
    width: 170px;
    height: 40px; ;

    color:white;
    background-color: black;
    

}
first{
    display: flex;
}
.girl{
    
}
.mun{
    display: flex;
    padding: 70px;
}

    form{
        background-color: antiquewhite;
        padding: 10%;
    }


.dible{
    display: flex;
    padding: 10%;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 0%;
}


.jacket{
    display: flex;
}
.shirt{
    display: flex;
}
.forher{
    display: flex;}
    .boys{
        display: flex;
    }
    .boy{
        display: flex;
    }
    @media screen {(max-width: 768px;)
        


        
.jacket{
    display: flex;
    flex-wrap: 45px;
}
        
        

        
    }
